@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: white;
}

.navbar-brand {
  margin-right: 8rem;
}

.nav-link {
  margin: 0 5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff725e;
}

.btn-outline-dark {
  border-color: #ff725e;
}
.btn-outline-dark:hover {
  background-color: #ff725e;
  border-color: #ff725e;
}

.color {
  color: #ff725e;
}

.footer-link {
  text-decoration: none;
  margin: 0 1rem;
}
.footer-link:hover {
  color: black;
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #ff725e;
  background-color: transparent;
}
